<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edyst</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="url-form">
        <h1> Enter an URL </h1>
        <form action="/index" method="POST">
            <input type="text" name="url"/>
            <input type="submit"/>
        </form>
        {% if jobs_in_queue %}

        <h1> Jobs still in queue </h1>

            <table border="1px solid">
                <tr>
                    <th> URL </th>
                    <th> Job ID </th>
                    <th> Job Status </th>
                </tr>
        {% for job in jobs_in_queue %}
                <tr>
                    <td> <a href = "{{job.args[0].url}}">{{job.args[0].url}}</a> </td>
                    <td> {{job.get_id()}} </td>
                    <td> {{job.get_status()}} </td>
                </tr>
        {% endfor %}
            </table>
        {% endif %}

        {% if results %}

        <h1> Processed Results </h1>
             <table border="1px solid">
                <tr>
                    <th> URL </th>
                    <th> Page Title </th>
                    <th> Number of words </th>
                </tr>
        {% for result in results %}
                 <tr>
                    <td> <a href = "{{result.url}}">{{result.url}}</a></td>
                    <td> {{result.title}} </td>
                    <td> {{result.words}} </td>
                </tr>

        {% endfor %}
             </table>
        {% endif %}
    </div>
</body>
</html>